*{
    background-color: rgb(255, 242, 242);
}
ol{
    background-color: rgb(169, 181, 223);
}

ol li{
    background-color: rgb(120, 134, 199);
    margin: 10px;
    padding: 5px;
}
ul{
    list-style-type: square;
    background-color: rgb(169, 181, 223);
}
ul li{
    background-color: rgb(120, 134, 199);
    margin: 10px;
    padding: 5px;
}   
.button1{
    padding: 16px 32px;
    border: 2px solid black;
    color: rgb(255, 242, 242);
    background-color:rgb(45, 51, 107) ;
    transition-duration: 0.4s;
    font-size: medium;
}
.button1:hover{         
    padding: 16px 32px;
    color: rgb(45, 51, 107);
    background-color:rgb(255, 242, 242);
    font-size: medium;
}

.center {
    text-align: center;
}