/* universal selector */
*{
    background-color: black;
}
/* element selector */
h1{
    background-color: aqua;
}
/* class selector */
.name{
    background-color: blue;
}
/* id selector */
#para{
    color: blueviolet;
}
/* group selector */
p,h1{
    color: hsl(180, 100%, 50%);
}